<%- include('partials/header.ejs') %>
<body>
    <%- include('partials/homenavbar.ejs') %>
    <div class="container">
        <hr>
        <div class="jumbotron">
            <h1 class="display-4">Bem vindo</h1>
            <p class="lead">Este é um simples blog</p>
            <hr class="my-4">
            <p>Criação deste blog é para exemplificar e praticar o que estou estudando com NodeJS</p>
            <a href="" class="btn btn-primary btn-lg">Leia mais</a>
        </div>
        <% articles.forEach(article => { %>
            <div class="card">
                <div class="card-header">
                    <h3><%= article.title %></h3>
                </div>
                <div class="card-body">
                    <a href="/<%= article.slug %>" class="btn btn-success">Ler Artigo</a>
                </div>
            </div>
            <br>
        <% }) %>

        <div class="row">
            <div class="col col-12">
                <a href="/articles/page/2" style="float: right;">Next >>></a>
            </div>
            <hr>
        </div>
        <hr>
    </div>
</body>
<%- include('partials/footer.ejs') %>
