<%- include ('../../partials/header.ejs') %>
<body>
    <%- include ('../../partials/navbar.ejs') %>
    <div class="container">
       <hr>
       <h2>Usuarios</h2>
       <a class="btn btn-success" href="/admin/users/create">Criar novo usuario</a>
       <hr>
       <table class="table table-bordered">
           <thead>
                <tr>
                    <th>Id</th>
                    <th>Email</th>
                </tr>
                <tbody>
                    <% users.forEach( user => { %>
                        <tr>
                            <td><%= user.id %></td>
                            <td><%= user.email %></td>
                        </tr>

                    <% }) %>

                </tbody>

           </thead>
       </table>
    </div>
</body>
<%- include ('../../partials/footer.ejs') %>